body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 30;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;

  width: 96%;
  max-width: 517px;
  max-height: 96vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);

  padding: 32px 24px;
  border-radius: 15px;
  background-color: #fafafa;
  transition: 0.3s all;

  overflow: auto;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 100%;
    padding: 40px;
  }
}

.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill var(--time) var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #fd9222;
}

.modal-title {
  display: block;
  max-width: 245px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #111;
}

@media screen and (min-width: 375px) {
  .modal-title {
    max-width: 255px;
  }
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 298px;
  }
}

.modal-form-group {
  position: relative;
  display: block;
  margin-bottom: 18px;
}

.modal-form-label {
  margin-bottom: 8px;
  display: block;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .modal-form-label {
    font-size: 14px;
  }
}

.modal-form-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;

  padding-left: 62px;
  width: 100%;
  height: 68px;
  outline: none;
  transform: border-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.modal-form-input:hover,
.modal-form-comment:hover {
  border-color: #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.modal-form-input:focus {
  border-color: yellow;
}

.modal-form-input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.modal-form-input:valid:not(:placeholder-shown) {
  border-color: green;
}

.modal-form-comment {
  width: 100%;
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px 24px;
  min-height: 137px;
  outline: none;
  transform: border-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.alert {
  position: absolute;
  bottom: -19px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  letter-spacing: -0.6em;
  text-wrap: nowrap;
  opacity: 0;
  transition: all var(--time) var(--cubic) 100ms;
}

.alert-warning {
  color: yellow;
  text-shadow: 1px 1px 2px black;
}

.alert-error {
  color: red;
}

.modal-form-input:focus ~ .alert-warning,
.modal-form-input:focus ~ .alert-icon-warning {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-form-input:not(:placeholder-shown) ~ .alert-warning,
.modal-form-input:not(:placeholder-shown) ~ .alert-icon-warning {
  opacity: 0;
}

.modal-form-input:invalid:not(:placeholder-shown) ~ .alert-error,
.modal-form-input:invalid:not(:placeholder-shown) ~ .alert-icon-error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-form-icon {
  position: absolute;
  top: 49px;
  left: 24px;
  transition: fill var(--time) var(--cubic), transform var(--time) var(--cubic),
    border-color var(--time) var(--cubic);
}

@media screen and (min-width: 768px) {
  .modal-form-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-icon {
    width: 24px;
    height: 24px;
  }
}

.modal-form-input:hover ~ .modal-form-icon {
  fill: #fd9222;
}

.modal-form-input:focus ~ .modal-form-icon {
  fill: yellow;
}

.modal-form-input:valid:not(:placeholder-shown) ~ .modal-form-icon {
  fill: green;
}

.modal-form-input:invalid:not(:placeholder-shown) ~ .modal-form-icon {
  fill: red;
}

.modal-form-input:focus ~ .alert-warning,
.modal-form-input:focus ~ .alert-icon-warning {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-form-input:not(:placeholder-shown) ~ .alert-warning,
.modal-form-input:not(:placeholder-shown) ~ .alert-icon-warning {
  opacity: 0;
}

.modal-form-input:invalid:not(:placeholder-shown) ~ .alert-error,
.modal-form-input:invalid:not(:placeholder-shown) ~ .alert-icon-error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.alert-icon {
  position: absolute;
  right: 14px;
  bottom: 25px;

  display: inline-flex;
  fill: currentColor;

  opacity: 0;
  transform: scale(0.3);

  transition: opacity var(--time) var(--cubic) 100ms, transform var(--time) var(--cubic) 100ms;
}

.alert-icon-warning {
  fill: yellow;
}

.alert-icon-error {
  fill: red;
}

.modal-from-btn {
  font-family: inherit;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.modal-form-policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
  cursor: pointer;
  padding: 4px;
}

.modal-form-custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);

  transition: background-color var(--time) var(--cubic);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: #fd9222;
}

.modal-form-custom-checkbox-icon {
  fill: #fff;
  opacity: 0;
  border-color: transparent;
  transition: opacity var(--time) var(--cubic);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-custom-checkbox-icon {
  opacity: 1;
}

.modal-form-policy-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;

  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

@media screen and (min-width: 768px) {
  .modal-form-policy-desc {
    font-size: 14px;
  }
}

.modal-form-policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
